@import "tailwindcss";

@layer utilities{
    .animate-marquee{
        animation: maruee 20s linear infinite;
    }
}

@keyframes maruee{
    0%{
        transform: translateX(0%);
    }
    100%{
         transform: translateX(-50%);
       
    }
}